<%= form_with(model: survey_q_item, local: true) do |form| %>
  <% if survey_q_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey_q_item.errors.count, "error") %> prohibited this survey_q_item from being saved:</h2>

      <ul>
      <% survey_q_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :s_title %>
    <%= form.text_field :s_title %>
  </div>

  <div class="field">
    <%= form.label :s_sub_title %>
    <%= form.text_field :s_sub_title %>
  </div>

  <div class="field">
    <%= form.label :survey_id %>
    <%= form.text_field :survey_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
